= form_for @service, :validate => true do |f|
  -if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :availability
    = f.date_select :availability
  .field
    = f.label :buy_price
    = f.number_field :buy_price
  .field
    = f.label :min_bid_price
    = f.number_field :min_bid_price
  .field
    = f.label :no_of_guest
    = f.select :no_of_guest, options_for_select([[1, 1], [2, 2],[3, 3], [4, 4],[5, 5], [6, 6]])
  .field
    = f.label :status
    = f.radio_button :status, "active", :checked => 'checked'
    = f.label "Active"
    = f.radio_button :status, "inactive"
    = f.label "Inactive" 
  .field
    = f.label :image
    = f.file_field :image  
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
