#textcolor LIST OF YOUR TABLE SERVICE!
%hr
%table
- @services.each do |service|
  %tr
    %td
    %h2= service.title
  %tr
    %table
      %tr
        %td= image_tag service.image.url, :size => "110x110"
        %td
          %table
            %tr
              %hr
              %td= service.bar
            %tr
              %td= link_to "Details", services_path
              %td= link_to "Map", services_path
            %tr
              %td Expires In
              %td= service.availability
            %tr
              %td Bid:
              %td= service.min_bid_price
            %tr
              %td Buy Now:
              %td= service.buy_price
                
                
= link_to "New Service", new_service_path                
