= form_for @bar, :validate => true do |f|
  
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :phone
    = f.number_field :phone
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :address
    = f.text_field :address
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
